[genuitec-file-id="wc1-12"],
[genuitec-lp-path="/weChat/WebRoot/static/content/content.css"],
[genuitec-lp-enabled=true] {
  /* for codelive */
}

@CHARSET "UTF-8";
html,
body {
  margin: 0;
  background-color: #fff;
  font-family: "MicrosoftYaHei";
  text-align: justify;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  text-justify: inter-ideograph;
}

html {
  position: fixed;
}

.content {
  height: 100%;
  width: 100%;
}

.menus {
  position: fixed;
  bottom: 0;
  width: 100%;
/*  height: 58px;*/
  z-index: 5;
  background-color: #f2f2f2;
}

.bbtn {
  float: left;
  width: 50%;
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: center;
}

.grayscale {
  /**  格式，filer: grayscale(效果范围)
     *  效果范围，取值范围为0-1或0-100%；0表示无效果，1或100%表示最大效果
     */
  -webkit-filter: grayscale(90%) opacity(50%);
  -o-filter: grayscale(90%) opacity(50%);
  -moz-filter: grayscale(90%) opacity(50%);
  -ms-filter: grayscale(90%) opacity(50%);
  filter: grayscale(90%) opacity(50%);
}

.menus a,
a:hover,
a:focus {
  color: #43b2e7;
  text-decoration: none;
}

.afresh_login {
  color: rgb(78, 144, 255);
  text-decoration: underline;
}

.svg_icon {
  display: inline-block;
  width: 20px;
  height: 4rem;
  vertical-align: top;
  pointer-events: none;
}

.netbar_list_btn {
  display: none;
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  background-color: rgba(86, 89, 92, 0.72);
  border-radius: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  padding-top: 0.4rem;
  z-index: 5;
}

.netbar_list_btn>a>div{
  width: 3rem;
  margin-left: 0.7rem;
}

.open_netbar_list {
  color: #fff;
  font-size: 1.6rem;
}

.netbar_list_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 0.5rem;
  bottom: 0;
  padding-bottom: 6.5rem;
  padding-top: 5rem;
}
.netbar_block {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.netbar_list {
  width: 100%;
  padding: 0 1.5rem;
  overflow-y: visible;
  background-color: #fff;
}

.search_block {
  width: 100%;
  position: fixed;
  top: 0rem;
  left: 0rem;
}

.input_search {
  height: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid;
  border-radius: 0px;
  background-color: #fff;
  border-color: #d9d9d9 !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-feedback .form-control {
  padding-left: 3.5rem;
  padding-right: 0;
}

.form-control-feedback {
  color: #41b3e7;
  z-index: 2;
  left: 0;
  font-size: 1.6rem;
  padding-top: 0.8rem;
}

ul {
  padding: 0;
  margin: 0;
}

ul>li {
  list-style-type: none;
  font-size: 1.6rem;
  line-height: 4rem;
  border-bottom: 1px solid #d9d9d9;
}

ul>li>a {
  display: block;
  padding: 0.5rem 0.5rem;
}

ul>li>a>span {
  color: #000;
  padding-left: 1rem;
}

/* 加载动画 */

.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.dropload-load .loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}

.dropload-down {
  background-color: #FFF;
}

.remote_desktop_block {
  display: none;
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.remote_desktop_menus {
  transition: transform 0.5s;
  position: fixed;
  right: 0;
  top: 0;
}

.remote_desktop_menus>ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 344px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #FFF;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.remote_desktop_menus>ul .checkbox, .radio {
    position: relative;
    display: block;
    margin: 0;
}

.remote_desktop_menus>ul>li {
  font-size: 1.6rem;
  line-height: 28px;
  border-bottom: 0.2rem solid #d9d9d9;
}

.remote_desktop_menus>ul>li>a {
  padding: 0;
  color: #FFF;
}

.menus_switch_li {
  border-bottom: 0 !important;
}

.menus_switch {
  display: block;
  line-height: 32px;
}

.tools_title {
  border-bottom: 0.1rem solid;
  margin-bottom: 3px;
}

.x_show {
  transform: translate(0px, 0px);
}

.x_hide {
  transform: translate(0px, -306px);
}

.x_zoom{
  float: left;
  width: 70px;
  margin-left: 3.4px;
  border: 1px solid;
  border-radius: 0.5rem;
}

.x_login_out {
  margin-left: 3.4px;
  border: 1px solid;
  border-radius: 0.5rem;
}

.menus_logout {
  padding: 3px;
}

.fitMode_label{
  line-height: 28px;
}

.fit_div {
  margin-top: 38px !important;
}

.reverse_svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


input[type=checkbox], input[type=radio] {
    margin: 8px 0 0;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #FFF;
    text-decoration: none;
}