.admin {
	height: 16rem;
	padding-top: 4.5rem;
  background-color: #f2f2f2;
}

.admin_img {
  float: left;
  padding: 0.5rem 1rem 0rem 2rem;
}

.admin_img>img {
  width: 85px;
}

.admin_info {
  display: block;
  float: left;
}

.admin_info h3 {
	font-weight: inherit;
}

.admin_info h3 span.admin_name {
  color: #000;
  font-size: 2.0rem;
}
.admin_info h3 span.admin_label {
	color: #999999;
	font-size: 1.6rem;
}

.account_menus {
  display: block;
}

.account_menus>ul>li {
  width: 95%;
  float: right;
  padding-right: 10px;
}

.account_menus>ul>li .svg_icon {
  width: 30px;
}