.remote_main {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 58px;
}

.remote_menus {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 3.5rem;
  background-color: #f2f2f2;
  border-bottom: 1rem solid #f2f2f2;
  padding-bottom: 3rem;
}

.tbtn {
  color: #000;
  float: left;
  width: 50%;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3.5rem;
}

.remote_list_block {
  position: relative;
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.remote_list {
  height: 100%;
  width: 100%;
}


/*.game_download_block {
  position: relative;
  display: none;
  height: 100%;
  overflow-y: auto;
}*/

.remote_list>ul {
  padding: 0 1rem 1rem 1rem;
}

.remote_list>ul>li {
  transition: transform .1s linear;
  list-style-type: none;
  font-size: 1.6rem;
  line-height: 4rem;
  border: 0;
  background-color: #42bdf8;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  -webkit-transform: translateX(0px);
}

.remote_list>ul>li>a {
  padding: 0.5rem 2.5rem;
  line-height: 6rem;
}

.remote_list>ul>li>a>i {
  position: absolute;
  top: 0.6rem;
}

.remote_list>ul>li>a>i>.svg_icon {
  display: inline-block;
  width: 30px;
  height: 5rem;
  vertical-align: top;
  pointer-events: none;
}

.remote_list>ul>li>a>ul {
  color: #FFF;
  position: relative;
  left: 6rem;
  top: 0.1;
  width: 80%;
}

.remote_list>ul>li>a>ul>li {
  line-height: 2.5rem;
  border-bottom: 0;
}

.add_remote {
  width: 90%;
  margin-top: 0.5rem;
  padding: 0 1rem;
  border-bottom: 0.1rem solid #c8c8c8;
}

.add_remote>span {
  color: #c8c8c8;
  line-height: 46px;
  font-size: 1.6rem;
  margin-left: 1rem;
}

.remote_add_mask {
	display: none;
	position: absolute;
	top: 0;
  z-index: 6;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.remote_add_block {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.remote_add_block .form-control {
	border-radius: 0;
}

.remote_add_block>form>label {
	border-bottom: 0.1rem solid #d8d8d8;
  width: 100%;
  font-size: 1.6rem;
  color: #666666;
}

.remote_add_block>form>button {
	border-radius: 0;
  height: 50px;
  font-size: 1.6rem;
	background-color: #43b2e7;
	color: #fff;
}

.remote_tools {
  display: block;
  position: absolute;
  top: 0;
  right: -257.5px;
  text-align: center;
  height: 100%;
  width: 257.5px;
  padding-left: 12.5px;
}

.remote_tools>a {
  float: left;
  width: 110px;
  display: block;
  line-height: 6rem;
  border-radius: 0.5rem;
  color: #fff;
}

.remote_tools>a.remote_update {
  background: #3ba0f2;
}

.remote_tools>a.remote_del {
  margin-left: 12.5px;
  background: #f44336;
}
